@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 50; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-snack-bar{
  padding: 20px;
  background-color: orange;
  color: white;
}

.success-snack-bar{
  padding: 20px;
  background-color: green;
  color: white;
}
